<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Registration
  </h1>
 <h2>Account Information</h2>
 <p *ngIf='submitted'>Thank you, {{user.firstName}}. Your form has been submitted.</p>
 <form action="">
   <fieldset>
     <label for="firstName">*First Name:</label>
     <input  style="display: inline" type="text" name="firstName" id="firstName"
      required
      [(ngModel)]='user.firstName'
      #firstName='ngModel'
     >
     <p *ngIf="!firstName.valid" class="errors">First name is required.</p>

     <label for="lastName">*Last Name:</label>
     <input type="text" name="lastName" id="lastName"
      required
      [(ngModel)]='user.lastName'
      #lastName='ngModel'
     >
     <p *ngIf="!lastName.valid" class="errors">Last name is required.</p>

     <label for="email">*Email:</label>
     <input type="email" name="email" id="email"
      email
      required
      [(ngModel)]='user.email'
      #email='ngModel'
     >
      <div *ngIf="email.errors" style="display: inline">
        <p *ngIf="!email.valid && email.errors['required']" class="errors">Email is required</p>
        <p *ngIf="!email.valid && email.errors['email'] && !email.errors['required']" class="errors">Email must be valid.</p>
      </div>

     <label for="password">*Password:</label>
     <input type="password" name="password" id="password"
      required
      minlength='16'
      [(ngModel)]='user.password'
      #password='ngModel'
     >
      <div *ngIf="password.errors" style="display: inline">
        <p *ngIf="!password.valid && password.errors['required']" class="errors">Password is required</p>
        <p *ngIf="!password.valid && password.errors['minlength']" class="errors">Password must be at least 16 characters long.</p>
      </div>

     <label for="confirm">*Password Confirmation:</label>
     <input type="password" name="confirm" id="confirm"
      [(ngModel)]='user.confirm'
      #confirm='ngModel'
     >
      <p *ngIf="user.password != user.confirm" class="errors">Passwords do not match.</p>

     <label for="street">*Street Address</label>
     <input type="text" name="street" id="street"
      required
      [(ngModel)]='user.street'
      #street='ngModel'
     >
     <p *ngIf="!street.valid" class="errors">Street Address is required.</p>

     <label for="unit">Unit/Apt #</label>
     <input type="text" name="unit" id="unit"
      [(ngModel)]='user.unit'
     >

     <label for="city">City</label>
     <input type="text" name="city" id="city"
      required
      [(ngModel)]='user.city'
      #city='ngModel'
     >
     <p *ngIf="!city.valid" class="errors">City is required.</p>

     <label for="state">*State</label>
     <select name="state" id="state">
       <option value="1">State 1</option>
       <option value="2">State 2</option>
       <option value="3">State 3</option>
     </select>


     <label for="">*I'm feeling lucky</label>
     <label for="yes" id="yeslabel">Yes</label>
     <input type="radio" name="lucky" id="yes" value="Yes"
        [(ngModel)] = 'user.lucky'
        #lucky="ngModel"
        required
     >
     <label for="no" id="nolabel">No</label>
     <input type="radio" name="lucky" id="no" value="No"
        [(ngModel)] = 'user.lucky'
        required
        #lucky = "ngModel"
     >
     <p *ngIf="!lucky.valid" class="errors">Are you lucky? Punk?</p>
    </fieldset>
   <button disabled *ngIf="firstName.errors || lastName.errors || email.errors || password.errors || street.errors || city.errors || lucky.errors || (user.password != user.confirm)">Register</button>
   <button *ngIf="!firstName.errors && !lastName.errors && !email.errors && !password.errors && !street.errors && !city.errors && !lucky.errors && (user.password == user.confirm)" (click)="submit()">Register</button>
 </form>
</div>


